{% block about_content %}
<!-- About Start -->
<div class="container-fluid py-6 px-5">
    <div class="row g-5">
        <div class="col-lg-7">
            <h1 class="display-5 text-uppercase mb-4">We are <span class="text-primary">a Leader</span> in Residential Renovation</h1>

            <p class="mb-4"><b>No job too small or big. With over 80 years of combined experience, we are your one stop residential remodeling & home improvement experience. Free in home estimates. Financing available.</b></p>

            <h4 class="text-uppercase mb-3 text-body">Proud to serve North Carolina and Southern Virginia Areas</h4>

            <div class="row gx-5 py-2">
                <div class="col-sm-6 mb-2">
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Greensboro, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Burlington, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Graham, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>High Point, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Kernersville, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Cary, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Garner, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Dunn, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Bunnlevel, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Clayton, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Sanford, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Angier, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Raleigh, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Hope Mills, NC</p>
                </div>
                <div class="col-sm-6 mb-2">
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Eagle Springs, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Gaston, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Apex, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Fuquay, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Benson, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Lillington, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Chapel Hill, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Fayetteville, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Erwin, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Goldsboro, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Pinehurst, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Holly Springs, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Durham, NC</p>
                    <p class="fw-bold mb-2"><i class="fa fa-map-marker text-primary me-3"></i>Southern Pines, NC</p>
                </div>
            </div>

            <h4 class="text-uppercase mb-3 text-body">We carry a variety of high-quality name brands</h4>

            <div class="row gx-5 py-2">
                <div class="col-sm-6 mb-2">
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>James Hardie</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>Alside</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>KDat</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>Behr</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>Royal Product</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>Prodigy</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>Mezzo</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>Therma Tru</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>Timber tech</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>Trex</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>Certainteed</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>Landmark</p>
                  <p class="fw-bold mb-2"><i class="fa fa-circle text-primary me-3"></i>GAF</p>
                </div>
                <div class="col-sm-6 mb-2">
                  <div class="brands-logo-grid">
                    <div class="brands-logo-column">
                      <img src="{{ url_for('static', filename='img/brands/james-hardie-logo.png') }}" />
                      <img src="{{ url_for('static', filename='img/brands/alside-logo.png') }}" />
                      <img src="{{ url_for('static', filename='img/brands/behr-logo.png') }}" />
                      <img src="{{ url_for('static', filename='img/brands/prodigy-logo.png') }}" />
                      <img src="{{ url_for('static', filename='img/brands/therma-tru-logo.png') }}" />
                      <img src="{{ url_for('static', filename='img/brands/timbertech-logo.png') }}" />
                      <img src="{{ url_for('static', filename='img/brands/trex-logo.png') }}" />
                      <img src="{{ url_for('static', filename='img/brands/certainteed-logo.png') }}" />
                      <img src="{{ url_for('static', filename='img/brands/landmark-logo.png') }}" />
                      <img src="{{ url_for('static', filename='img/brands/gaf-logo.png') }}" />
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 pb-5" style="min-height: 400px;">
            <div class="position-relative bg-dark-radial h-100 ms-5">
                <img class="position-absolute w-100 h-100 mt-5 ms-n5" src="{{ url_for('static', filename='img/about.jpg') }}" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock %}
