{% extends "base.html" %}

{% block content %}

{% block about_content %}
{% include "about_content.html" %}
{% endblock %}

<!-- Appointment Start -->
<div class="container-fluid bg-light py-6 px-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h1 class="display-5 text-uppercase mb-4">Request A <span class="text-primary">Call Back</span></h1>
                </div>
                <p class="mb-5">Request a callback, provide your first name, last name, callback date, time and a brief message. We will get back with you ASAP.</p>
            </div>
            <div class="col-lg-8">
                <div class="bg-outline text-center p-5">
                    <form action="https://formspree.io/f/xgebebgw" method="POST">
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="name" class="form-control bg-light" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" name="email" class="form-control bg-light" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="text" name="callbackdate"
                                        class="form-control bg-light datetimepicker-input"
                                        placeholder="Call Back Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="time" id="time" data-target-input="nearest">
                                    <input type="text" name="callbacktime"
                                        class="form-control bg-light datetimepicker-input"
                                        placeholder="Call Back Time" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-light" rows="5" placeholder="Message" name="message"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Submit Request</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
<!-- Appointment End -->

{% endblock %}
