{% block portfolio_content %}
<!-- Portfolio Start -->
<div class="container-fluid bg-light py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 300px;">
        <h1 class="display-5 text-uppercase mb-4">Our <span class="text-primary">Portfolio</span></h1>
    </div>
    {% for key in portfolio_images %}
      <div class="row g-{{ key }} portfolio-container">
        {% for result in portfolio_images[key] %}
          <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item first">
              <div class="position-relative portfolio-box">
                  <img class="portfolio-img w-100" src="static/img/portfolio/{{ result }}" alt="">
                  <a class="portfolio-btn" href="static/img/portfolio/{{ result }}" data-lightbox="portfolio">
                      <i class="bi bi-plus text-white"></i>
                  </a>
              </div>
          </div>
        {%endfor%}
      </div>
    {%endfor%}
</div>
<!-- Portfolio End -->

{% endblock %}
